Admin:
    Po wejściu w usera, możliwość wejścia w jego zamówienia (lista) i wyszukania konkretnego zamówienia (typ szukania name - equals)
    Możliwoeść edycji statusu zamówienia

Możliwość logowania się zwykłych użytkowników

Opcje:
    1. Products
        - Search (możecie wykorzystać poprzedniego, czyli name - contains, category - equals)
            - Zaznaczone produkty, które zaznaczycie możecie schować do koszyka
            - Zaznaczone produkty możecie od razu kupić
    2. Historia zamówień
        - Lista z zamówieniami (Lp | Nazwa zamówienia) *nazwa zamówienia może wyglądać w ten sposób "Zamówienie_X", gdzie X to number zamówienia
            - Po wejściu w konkretne zamówienie chcę widzieć nazwy produkty wraz z ceną obok, łączną sumę i status zamówienia
                - Możliwość zrezygnowania z zamówienia, jeśli nie jest jeszcze Zrealizowane