Admin:
    Po wejściu w usera, możliwość wejścia w jego zamówienia (lista) i wyszukania konkretnego zamówienia (typ szukania name - equals)
    Możliwoeść edycji statusu zamówienia

Możliwość logowania się zwykłych użytkowników

Opcje:
    1. Products
        - Search (możecie wykorzystać poprzedniego, czyli name - contains, category - equals)
            - Zaznaczone produkty, które zaznaczycie możecie schować do koszyka
            - Zaznaczone produkty możecie od razu kupić
    2. Historia zamówień
        - Lista z zamówieniami (Lp | Nazwa zamówienia) *nazwa zamówienia może wyglądać w ten sposób "Zamówienie_X", gdzie X to number zamówienia
            - Po wejściu w konkretne zamówienie chcę widzieć nazwy produkty wraz z ceną obok, łączną sumę i status zamówienia
                - Możliwość zrezygnowania z zamówienia, jeśli nie jest jeszcze Zrealizowane
				
---------

Chciałbym żebyście zrobili klasę z ustawieniami waszego sklepu (jako singleton).
Do w tej klasie mielibyście trzymać aktualnie obowiązujące zniżki w waszym sklepie, co za tym idzie:
 - nowa opcja u Admina - 'Discount Manager' z opcjami:
    - add discount (GUI: drop down ze zniżkami, konsola coś w symulującego drop down)
    - remove discount
    - show discounts
Raczej jasne jest co ma się dziać pod każdym z tych przycisków.

Opcje w drop downie, mają reprezentować konkretne klasy ze strategią którą dodacie (np. 50 % zniżki na drugi przedmiot z danej kategorii)

Strategie jakie chcę żebyście dodali to:
- 50% zniżki na drugi przedmiot z danej kategorii
- 10zł za każde wydane 100 zł
- 30% na (tu wybierzcie sobie jakiś przedmiot, może być ten karp lidlowy) 

Przy podsumowaniu zamówienia pokażcie ile kasy jest ze zniżek, czyli na przykład:
Produkt_1 ILOŚĆ x zł
Produkt_2 ILOŚĆ x zł
Product_3 ILOŚĆ x zł

Amount x zł
Discount_1 -x zł
Discount_2 -x zł
Total amount x zł